body.signup-page {
  background-color: #CBA781;
  font-family: 'Inter', sans-serif;
}
.signup-card {
  background-color: #7D2E4D;
  width: 309px;
  
  border-radius: 12px;
  padding: 20px; 
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-input {
  width: 280px;
  height: 32px;
  background-color: #D8D0CB;
  border: none;
  border-radius: 0px;
  padding: 8px;
  font-size: 15px;
  color: #722323;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email {
  margin-bottom: 34px; 
  margin-top: 50px;
  
}
.username {
  margin-bottom: 34px; 
  
}

.password {
  margin-bottom: 30px; 
}

.signup-input::placeholder {
  color: rgba(114, 35, 35, 0.57);
  padding: 3px;
}

.signup-box button {
  width: 122px;
  height: 38px;
  background-color: transparent; 
  border: 1px solid #D8D0CB;    
  color: rgba(252, 251, 251, 0.57);               
  font-size: 18px;
  cursor: pointer;
  align-self: center;            
  margin: auto; 
  display: block;
}
.login-link{
  color: rgba(252, 251, 251, 0.57); 
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px; 
  margin-bottom: 2px; 
  padding-bottom: 2px;
}
.login-link a {
  margin-left: 4px; 
}

