* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.landing-page {
  background-image: url('/static/assets/landing_screen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;         
  font-family:'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b1b1b;
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-links {
  position: absolute;
  bottom: 50px;
  text-align: center;
  color: #5c2a2a;
  font-size: 1rem;
  padding: 0 10px;
}
.bottom-links p{
  margin: 10px 0;             
  font-size: 1rem;
  text-shadow: 0 1px 2px rgba(0,0,0,.15); 
}
.link{
  display: inline-block;
  padding: 8px 10px;           
  font-weight: 700;
  text-decoration: none;
  color:  #0a58ff;            
}

.link:hover, .link:focus{
  text-decoration: underline;
  outline: none;
}

