<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - Coffee Dump</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signup.css') }}"
    />
  </head>
  <body class="signup-page">
    <div class="signup-card">
      <form class="signup-box" id="signup-form">
        <input
          type="email"
          class="signup-input email"
          id="signup-email"
          placeholder="Email"
          required
        />
        <input
          type="text"
          class="signup-input username"
          id="signup-username"
          placeholder="Username"
          required
        />
        <input
          type="password"
          class="signup-input password"
          id="signup-password"
          placeholder="Password"
          required
        />

        <button type="submit">Sign Up</button>
        <p class="login-link">
          Already have an account? <a href="/login">Login</a>
        </p>
      </form>
    </div>
    <script type="module" src="/static/js/firebase-init.js"></script>
    <script type="module" src="/static/js/auth.js"></script>
  </body>
</html>
