<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Dunk ☕</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="manifest" href="/static/manifest.webmanifest" />
    <meta name="theme-color" content="#7D2E4D" />
  </head>
  <body class="landing-page">
    <div class="container">
      <div class="bottom-links">
        <p>Already have an account? <a href="/login">Login</a></p>

        <p>Don't have an account? <a href="/signup"> Sign Up</a></p>
      </div>
    </div>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/service-worker.js")
            .catch((err) => console.error("SW registration failed:", err));
        });
      }
    </script>
  </body>
</html>
